tmp/cache/
tmp/pids/
log/
tmp/capybara/
/storage/*
!/storage/.keep

tmp/letter_opener/
tmp/screenshots/

config/petnote-14a7e-firebase-adminsdk-wcojg-c82e3dced1.json
config/petnote-14a7e-firebase-adminsdk-wcojg-c82e3dced1.json:Zone.Identifier

config/credentials.yml.enc