
<div class="border col-10 rounded p-3 mt-5 mx-auto" style="background-color: #F6F5EE;">
  <h4>通知設定</h4>
  <p>個別に通知のオン・オフを設定できます。</p>

  <% if current_user && current_user.id == partner.owner_id %>
    <!-- 通知を有効にするボタン -->
    <%= button_to "通知を有効にする", enable_notifications_remainders_path, remote: true, format: :js, class: "btn btn-primary", data: { turbo: false }, id: "enable-notifications-button" %>
    
  <hr>
  <!-- ごはん -->
  <h5>ごはん</h5>
  <%= render partial: "remainders/remainder", collection: food_remainders %>

  <hr>

  <!-- さんぽ -->
  <h5>さんぽ</h5>
  <%= render partial: "remainders/remainder", collection: walk_remainders %>

  <hr>

  <!-- おくすり -->
  <h5>おくすり</h5>
  <%= render partial: "remainders/remainder", collection: medication_remainders %>

  <hr>
  <% else %>
  <hr>
  <p>他ユーザーから共有されたパートナーの通知設定は変更できません。</p>
  <% end %>
</div>
