<% if @pet_foods.any? %>
  <% @pet_foods.each do |item| %>
    <div class="row">
      <div class="col-5">
        <p><%= item[:label] %>：</p>
      </div>
      <div class="col-7">
        <p><%= item[:content] %></p>
      </div>
    </div>
    <hr>
  <% end %>
<% else %>
  <p>まだごはんに関する登録はありません。</p>
  <hr>
<% end %>