
    <div class="row">
        <div class="col-4">
            <p>ごはんの種類</p>
        </div>
        
        <div class="col-8">
            <p>ごはんの種類</p>
        </div>

    </div>
    
    <hr>

    <div class="row">
        <div class="col-4">
            <p>ごはんの量</p>
        </div>
        
        <div class="col-8">
            <p>量を書く</p>
        </div>

    </div>
    
    <hr>

    <div class="row">
        <div class="col-4">
            <p>ごはんの時間</p>
        </div>
        
        <div class="col-8">
            <p>時間</p>
        </div>
        
    </div>

    <hr>

    <div class="row">
        <div class="col-4">
           <p>ごはんの場所</p>
        </div>
       
        <div class="col-8">
            <p>どこにあるか</p>
        </div>
   
    </div>

    <hr>
