
    <div class="row">
        <div class="col-4">
            <p>おくすりの種類</p>
        </div>
        
        <div class="col-8">
            <p>種類</p>
        </div>

    </div>
    
    <hr>

    <div class="row">
        <div class="col-4">
            <p>おくすりの量</p>
        </div>
        
        <div class="col-8">
            <p>量を書く</p>
        </div>

    </div>
    
    <hr>

    <div class="row">
        <div class="col-4">
            <p>おくすりの時間</p>
        </div>
        
        <div class="col-8">
            <p>時間</p>
        </div>
        
    </div>

    <hr>

    <div class="row">
        <div class="col-4">
           <p>おくすりの場所</p>
        </div>
       
        <div class="col-8">
            <p>場所</p>
        </div>
   
    </div>

    <hr>

</div>