<div class="mb-5 text-end">
<%= button_tag 'すべてのパートナーを共有', class: 'btn btn-custom', data: { bs_toggle: 'modal', bs_target: '#confirmationModalAll' } %>
</div>

<!-- 一括共有用のモーダル -->
<div class="modal fade" id="confirmationModalAll" tabindex="-1" aria-labelledby="confirmationModalAllLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalAllLabel">確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        <p>すべてのパートナー（<%= partners.count %>件）を共有しますか？</p>
      </div>
      <div class="modal-footer">
        <%= button_to '共有する', create_token_partners_path, method: :post, class: 'btn btn-custom' %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>