
    <div class="row">
        <div class="col-4">
            <p>1日のさんぽ時間</p>
        </div>
        
        <div class="col-8">
            <p>2時間</p>
        </div>

    </div>
    
    <hr>

    <div class="row">
        <div class="col-4">
            <p>さんぽの時間帯</p>
        </div>
        
        <div class="col-8">
            <p>時間帯</p>
        </div>
        
    </div>

    <hr>