<% @page_title = "パートナーリスト" %>

<div class="container pt-3">
  <div class="row">
    <div class="col-11 col-md-8 mx-auto">

      <div class="mb-4">
        <%= link_to "partners/new", class: 'link-custom' do %>
        <i class="fa-solid fa-angles-right"></i> <span>パートナー追加</span>
        <% end %>
      </div>

        <div class="row">
        <% @partners.each do |partner| %>
          <div class="col-12 col-md-6 mb-4">
            <%= render partial: "partner", locals: { partner: partner } %>
          </div>
        <% end %>
        </div>

    </div>
  </div>
</div>
