<header>
  <nav class="navbar fixed-top navbar-light custom-navbar justify-content-center">
    <% if (link = back_link(@partner)) %>
      <%= link %>
    <% end %>
    <!-- ページタイトルを文字列として表示 -->
    <span class="navbar-brand"><%= @page_title %></span>
  </nav>
</header>