<div class="modal fade" id="qrCodeModal" tabindex="-1" aria-labelledby="qrCodeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="qrCodeModalLabel">QRコード</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
      <p>こちらのコードを読み取るとペット情報を共有できます！</p>
        <div id="qrCodeContainer" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
          <!-- QRコード挿入 -->
        </div>
      </div>
    </div>
  </div>
</div>