<div class="container">
  <h1 class="my-4">アプリタイトル</h1>
  <form class="my-4">
    <div class="mb-3">
      <label for="email" class="form-label">メールアドレス</label>
      <input type="email" class="form-control" id="email" placeholder="メールアドレスを入力">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">パスワード</label>
      <input type="password" class="form-control" id="password" placeholder="パスワードを入力">
    </div>
    <button type="submit" class="btn btn-primary">ログイン</button>
  </form>
</div>