<%= f.hidden_field :partner_id, value: @partner.id %>
<div class="row">
  <div class="col-8">
    <%= f.select :time, options_for_select(
      (0..23).map { |h| ["#{format('%02d', h)}:00", "#{format('%02d', h)}:00"] } + 
      (0..23).map { |h| ["#{format('%02d', h)}:30", "#{format('%02d', h)}:30"] }
    ), { prompt: "時刻を選択" }, class: "form-control" %>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-dark" style="display: flex; margin-left: 8px;" onclick="removeRemainderField(this);">×</button>
  </div>
</div>
