/* ボタンの色変更 */
.btn-custom {
    background-color: #E5DFC6;
    color: #444444;
}

/* リンク色変更 */
.link-custom {
  color: #1E1E1E;
}
.link-custom:hover {
  color: #444444;
}

/* headerの色変更 */
.custom-navbar {
  background-color: #E5DFC6 ;
  color: #444444;
}

.card-img-top {
  width: 100%;                  /* カードの横幅いっぱい */
  aspect-ratio: 3 / 2;          /* 横:縦 = 3:2 の比率を設定 */
  object-fit: cover;            /* 画像の縦横比を維持しつつ、中央部分を表示 */
  object-position: center;      /* 画像の中央を表示 */
}

.custom-show-img {
  width: 100%;                  /* カードの横幅いっぱい */
  aspect-ratio: 1 / 1;          /* 横:縦 = 1:1 の比率を設定 */
  object-fit: cover;            /* 画像の縦横比を維持しつつ、中央部分を表示 */
  object-position: center;      /* 画像の中央を表示 */  
}

.custom-show-text p {
  margin-bottom: 5px;  /* 行間を狭める */
  line-height: 1.2;    /* 行の高さを調整 */
}

/* タブが非アクティブのときに空間を完全に消す */
.tab-pane:not(.active) {
  display: none !important;
}

/* チュートリアル設定 */
.tooltip-container {
  position: fixed; /* スクロールしても画面上に固定 */
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 1000;
}

.tooltip {
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.tooltip-btn {
  display: block;
  margin: 10px auto 0;
  padding: 5px 10px;
  background-color: #E5DFC6;
  color: #444444;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dimmed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 背景をさらに暗く */
  z-index: 999; /* 吹き出しより下、他の要素より上に表示 */
}

.highlight {
  position: relative;
  z-index: 1001; /* 吹き出しより上に表示 */
  background-color: rgba(255, 255, 255, 0.9); /* 背景を薄い白色に変更して目立たせる */
  border-radius: 8px; /* 丸みをつける */
  border: 2px solid rgba(255, 215, 0, 0.9); /* 枠を追加 */
}